@import "bourbon/bourbon";
@import "reset";

// typography

body {
  font-family:-apple-system,sans-serif;
  color:#666;
}

a {
  text-decoration:none;
  transition:color .2s ease-in-out;
  color:#00D4C0;
  &:hover {
    color:shade(#00D4C0, 35%);
  }
}

body > header h1, {
  color:black;
  font-size:2.3em;
  line-height:1.2em;
  font-weight: 900;
}

header > p {
  color:#666;
  font-size:1.2em;
  line-height:1.4em;
  font-weight:400;
}

.project {
  h1 {
    font-size:1.8em;
    font-weight:300;
    color:#CF000F;
    padding-bottom:0.2em;
  }
  h2 {
    font-size:1.2em;
    line-height:1.2em;
    padding-bottom:1.2em;
    font-weight:600;
  }
  p {
    line-height:1.45em;
  }
}
  
// layout

body {
  margin:0 15px;
}

header {
  text-align:center;
  width:550px;
  max-width:100%;
  padding-top:40px;
  @media(min-width:651px) {
    margin-top:100px;
    text-align:right;
  }

  p {
    padding:2em 0;
    @media(min-width:651px) {
      margin-bottom:50px;
    }
  }
}

section {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include align-items(flex-start);
}

.project {
  transition:all .2s ease-in-out;
  border:solid 1px #666;
  border-radius:7px;
  padding:27px 20px 10px 20px;
  min-height:300px;
  width:490px;
  max-width:83%;
  margin:20px;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);

  &:hover {
    transform: scale(1.09);
  }

  .links {
    margin-top:1em;
  }
}
